db.sqlite3
__pycache__/
*.pytest_cache/
local_settings.py
*.py[cod]
*.swp
*.log
.DS_Store
.env
.venv
env/
*.eggs
*.egg-info
venv/
.vscode
.idea
.cache/
.bin/
.lib/
.include/
.Python
pip-selfcheck.json